@import '../../styles/settings.scss';
.wrapper {
    display: flex;
    width: 100%;
    height: 70vh;
    background-color: rgba(249, 248, 113, .4);
    // background-color: rgba(255, 142, 121, .3);
    justify-content: space-between;
    

    .photo{
        background-image: url("../../../public/images/dogsCats.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        background-position: 0 100%;
    }

    .box {
        width: 30vw;
        height: 20vw;
        position: relative;
        z-index: 2;
        margin: auto 0 auto 8%;
        padding: 5% 4%;
        border-radius: 30px;
        background-color: $color_one;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);

        .icon {
            position: absolute;
            top: 10%;
            font-size: 4em;
            left: 80%;
            // color: $color_three;
            transform: rotate(20deg);
        }

        h4 {
            font-size: 35px;
            margin-bottom: 7%;
        }

        p {
            font-size: 19px;
        }
    }
}

 