@import '../../styles/settings.scss';

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10%;
    line-height: 1.8;
    background-image: url("../../../public/images/rysPies.png");
    background-repeat: no-repeat;
    background-position: 100% -10%;
    background-size: contain;

   .content{
    margin: 0 8% 0 10%;
    padding: 0 10% 5% 3%;
 
    p {
        font-size: 16px;
        margin-top: 5%;
        padding-right: 7%;
    }
   }

   .aside {
    width: 100%;
    position: relative;

    .photo {
        background-image: url("../../../public/images/golden.jpg");
        background-repeat: no-repeat;
        border-radius: 50%;
        margin-left: 10%;
        width: 50vh;
        height: 50vh;
        background-position: center;
        background-size: cover;
    }

    .photoFood {
        position: absolute;
        top: 10%;
        left: 70%;
        width: 50%;
        height: auto;
    }
   }
}

.banner {
    background-image: url("../../../public/images/dogs.jpg");
    background-repeat: no-repeat;
    position: relative;
    height: 50vh;
    width: 100%;
    background-position: center 60%;
    background-size: cover;

    &::after {
        content: '';
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }

    h3{
        font-size: 70px;
        z-index: 2;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        color: #fff;
        font-weight: light;
    }
}

@media (min-width: 320px) and (max-width: 1024px) {
    .wrapper {
        background-image: none;
    }
}

@media (min-width: 320px) and (max-width: 739px) {
    .banner {
        h3 {
            font-size: 40px;
        }
    }

    .wrapper {
        margin-bottom: 10%;
        background-image: none;
        flex-direction: column;
        .aside {
            .photo {
               width: 40vh;
               height: 40vh; 
            }
    
            .photoFood {
               top: 10%;
               left: 50%;
               width: 35%;
            }
        }

        .content {
            margin-top: 10%;
            padding: 0;

            p {
                font-size: 14px;
                padding: 0;
            }
        }
    }
    
}

@media (min-width: 360px) and (max-width: 414px) {
    .wrapper {
        .aside {
            .photo {
                width: 35vh;
                height: 35vh; 
             }
            .photoFood {
                top: 5%;
                width: 40%;
             }
        }
    }
}

@media (min-width: 415px) and (max-width: 738px) and (orientation: portrait) {
    .wrapper {
        .aside {
            .photoFood {
                top: 0;
                width: 30%;
             }
        }
    }
}

@media (min-width: 500px) and (max-width: 738px) and (orientation: landscape) {

    .wrapper {
        .aside {
            width: 75%;
            .photo {
               width: 60vh;
               height: 60vh; 
            }
    
            .photoFood {
               top: 0;
               left: 45%;
               width: 30%;
            }
        }

        .content {
            margin-top: 6%;
        }
    }
}

 @media (min-width: 739px) and (max-width: 1024px) and (orientation: landscape) {
    .wrapper {
        .aside {
            .photo {
               width: 60vh;
               height: 60vh; 
            }
            .photoFood {
               width: 60%;
               top: 0;
            }
        }
    }
 }

 @media (min-width: 739px) and (max-width: 1024px) and (orientation: portrait) {
    .wrapper {
        .aside {
            .photo {
               width: 30vh;
               height: 30vh; 
            }
            .photoFood {
               width: 50%;
            }
        }
    }
 }