@import '../../styles/settings.scss';
.wrapper {
    display: flex;
    width: 100%;
    height: 70vh;
    background-color: rgba(249, 248, 113, .4);
    // background-color: rgba(255, 142, 121, .3);
    justify-content: space-between;
    

    .photo{
        background-image: url("../../../public/images/dogsCats.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        background-position: 0 100%;
    }

    .box {
        width: 30vw;
        height: 20vw;
        position: relative;
        z-index: 2;
        margin: auto 0 auto 8%;
        padding: 5% 4%;
        border-radius: 30px;
        background-color: $color_one;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);

        .icon {
            position: absolute;
            top: 10%;
            font-size: 4em;
            left: 80%;
            // color: $color_three;
            transform: rotate(20deg);
        }

        h4 {
            font-size: 35px;
            margin-bottom: 7%;
        }

        p {
            font-size: 19px;
        }
    }
}


@media(min-width: 320px) and (max-width: 915px) {
    .wrapper {
        .box {
            .icon {
                font-size: 3em;
            }
            h4 {
                font-size: 22px;
            }
            p {
                font-size: 16px;
            }
        }
    }
}


 @media (min-width: 320px) and (max-width: 600px) and (orientation: portrait){
    .wrapper {
        align-items: center;
        flex-direction: column;
        .box {
            width: 80vw;
            height: 50vw;
            margin-left: 0;
            margin-top: 5%;
            h4 {
                margin: 5% 0;
            }
        }
        .photo {
            height: 60%;
        }
    }
 }

 @media (min-width: 359px) and (max-width: 539px) and (orientation: portrait){
    .wrapper {
        .box {
            height: 60vw;
            margin-top: 10%;
        }
        .photo {
            height: 47%;
        }
    }
 }
 
 @media (min-width: 540px) and (max-width: 767px) and (orientation: portrait){
    .wrapper {
        .box {
            width: 60vw;
            height: 35vw;
        }
    }
 }

 @media (min-width: 768px) and (max-width: 1023px) and (orientation: portrait){
    .wrapper {
        height: 40vh;
        .box {
            height: 35vw;
        }
        .photo {
            height: 80%;
        }
    }
 }

 @media (min-width: 500px) and (max-width: 739px) and (orientation: landscape){
    .wrapper {
        .box {
            width: 60vw;
            height: 35vw;
        }
    }
 }

 @media (min-width: 740px) and (max-width: 915px) and (orientation: landscape){
    .wrapper {
        .box {
            width: 60vw;
            height: 25vw;
        }
    }
 }

 
 @media (min-width: 1024px) and (max-width: 1500px){
    .wrapper {
        .box {
            height: 30vw;
        }
    }
 }
