@import '../../styles/settings.scss';

.container {
    
    overflow: hidden;

    .content {
        height: 50vh;
        background-color: #F2F2F2;
        display: flex;
        align-items: center;
        transition: .3s;
        .dog img {
            height: 50vh;
        }

    .text {
        margin-right: 3%;

        h5 {
            text-transform: uppercase;
            font-size: 26px;
        }
        p {
            font-size: 20px;
        }
    
    }

        .photo img {
            max-height: 50vh;
        }

        &:hover {
            transform: scale(1.05);
        }
    }
}

@media (min-width: 320px) and (max-width: 915px){
    .container {
        height: auto;
        .content {
            .text {
                margin-left: 5%;
                h5 {
                    font-size: 16px;
                }
                p {
                    font-size: 14px;
                }
            }
            .dog {
                display: none;
            }
        }
    }
}

@media (min-width: 412px) and (orientation: portrait) and (max-width: 915px){
    .container {
        .content {
            .photo img {
                height: 45vh;
            }
        }
    }
}

@media (min-width: 500px) and (max-width: 915px) and (orientation: landscape){
    .container {
        .content {
            .photo img {
                height: 70vh;
            }
        }
    }
}

@media (min-width: 700px) and (max-width: 1000px) {
    .container {
        .content {
            .text {
                h5 {
                    font-size: 24px;
                }
                p {
                    font-size: 18px;
                }
            }
        }
    }
}