@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@300;400;700&display=swap');

$font_title: 'Raleway', sans-serif;
$font_text: 'Open Sans', sans-serif;
$color_text: #1D1D1D;
$color_title: #000;

$color_one: #FFC065;
$color_two: #4B5088;

$transition: .3s;