@import '../../styles/settings.scss';

.nav {
    display: flex;
    max-height: 15vh;
    padding: 1% 3% 0;
    

    .logo {
        img {
            height: 80%;
        }
    }
    .menu {
        // ????
        align-self: center;
        flex-grow: 2;
        ///
        .list {
            display: flex;
            list-style: none;
            

            a {
                position: relative;
                text-decoration: none;
                color: $color_text;
                font-weight: bold;
                transition: $transition;
                text-align: center;
                
                &::after{
                    content: '';
                    position: absolute;
                    background-color: $color_one;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    height: 2%;
                    transform: scaleX(0);
                    transform-origin: right;
                    transition: transform $transition;
                }

                &:hover {
                    color: $color_one;
                }

                &:hover::after {
                    transform: scaleX(1);
                    transform-origin: left;
                }
            }
        }
    }
}