@import '../About/About.module.scss';

.bannerBesta{
    @extend .banner;
}
.wrapper {
    background-image: none;
    margin: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .aside {
        margin-bottom: 10%;
        display: flex;
        justify-content:center;
        .photo{
            margin-left: 0;
        }
        .photoBesta {
            position: absolute;
            height: 100%;
            top: 10%;
            left: 55%;
        }
    }
    .text {
        font-size: 18px;
    }
 
    
}
@media (min-width: 320px) and (max-width: 739px) and (orientation: portrait){
   
}

@media (min-width: 320px) and (max-width: 740px) {

}

