@import '../../styles/settings.scss';

.button {
    background-color: $color_one;
    display: inline-block;
    font-family: $font_text;
    margin-top: 2%;
    padding: 1.5% 3%;
    border-radius: 30px;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #000;
    &:hover {
        color: #000;
    }
    &:hover .icon {
        transform: scale(1.3);
    }
    .icon {
        margin-left: 6px;
        font-size: .8em;
        transition: .3s;
        color: #000;
    }
}

@media (min-width: 320px) and (max-width: 768px) {
    .button{ 
        font-size: .9em;
        padding: 2% 7%;
    }
}