@import '../../styles/settings.scss';

.btn {
    text-decoration: none;
    background-color: transparent;
    color: $color_text;
    margin-top: 2%;
    // letter-spacing: 2px;
    position: relative;
    overflow: hidden;
    border: 3px solid $color_text;
    transition: .3s;
    font-weight: bold;

    &:hover {
        background-color: $color_one;
        border-color: $color_one;
        color: #fff;
        transform: scale(1.1);
    }
 
}
