@import '../../styles/settings.scss';

.title{
    // position: relative;
    margin: 5% 5% 1%;
    // border-bottom: 2px solid $color_one;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;
    &::after {
        display:block;
        clear:both;
        content : "";
        position: relative;
        left: 0;
        bottom: 0;
        max-width:250px;
        height: 3px;
        width: 20%;  
        border-bottom: 3px solid  $color_one;
        margin:0 auto;
        padding: 1% 0;

    }
}

@media (min-width: 320px) and (max-width: 699px){
    .title {
        margin-top: 10%;
        margin-bottom: 5%;
        font-size: 26px;
    }
}

@media (min-width: 700px) and (max-width: 1279px){
    .title {
        font-size: 30px;
    }
}